<div class="container-fluid px-4">
    <h2 class="mt-4 text-center text-uppercase" style="letter-spacing:4px">Add New Product</h2>
</div>

<div class="row">
    <div classs="col-md-2"></div>
    <div classs="col-md-8">
        <form method="post" enctype="multipart/form-data">
            <input class="form-control mt-3" type="text" name="product_name" placeholder="Enter product name" />
            <input class="form-control mt-3" type="text" name="product_price" placeholder="Enter product price" />
            <input class="form-control mt-3" type="text" name="product_no" placeholder="Enter product no" />
            <input class="form-control mt-3" type="text" name="product_description" placeholder="Enter product description" />
            @Html.Partial("CategoryDropdown",ViewData["category"])
            <input type="file" name="product_image"  />

            <input type="submit" class="btn btn-primary" value="Add Product" />
        </form>
    </div>
    <div classs="col-md-2"></div>
</div>
