@model List<Category>
<div class="container-fluid px-4">
    <h2 class="mt-4 text-center text-uppercase" style="letter-spacing:4px">All Category</h2>
</div>

<div class="row">
    <div class="col-md-12">
        <a asp-controller="Dealer" asp-action="addcategory" class="btn btn-primary">Add Category</a>
        <table class="table text-center table-bordered table-striped mt-3">
            <thead>
                <tr>
                    <th>Catgory Id</th>
                    <th>Category Name</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @foreach (var cat in Model)
                    {
                    <tr>
                        <td>@cat.category_id</td>
                        <td>@cat.category_name</td>
                        <td>
                            <a href="@Url.Action("updatecategory","Dealer",new{id=@cat.category_id})" class="btn btn-warning">Update</a>
                            <a href="@Url.Action("deletePermissionCategory","Dealer",new{id=@cat.category_id})" class="btn btn-danger">Delete</a>
                        </td>
                    </tr>
                    }
                </tr>
            </tbody>
        </table>
    </div>
</div>